@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
  background-color: #1e1e1e;
  min-width: 320px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 61px 16px 20px 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-wrapper {
  margin-top: -4px;
}

.logo-description {
  font-family: 'Montserrat', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 10px;
  line-height: 10px;
  font-weight: 300;
  max-width: 160px;
  margin: 10px 0 0 0;
}

.header-nav {
}

.header-nav-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-family: 'Inter', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-decoration: none;
  transition: opacity 0.4s linear;
}

.nav-link:hover {
  opacity: 0.8;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 47px;
}

.phone {
  font-family: 'Inter', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin: 0;
  min-width: 143px;
}

.sm-icons {
  display: flex;
  flex-direction: row;
  gap: 29px;
}

.sm-icons_position_footer {
  justify-content: flex-end;
  gap: 14px;
}

.sm-icon {
  width: 20px;
  height: 20px;
  transition: opacity 0.4s linear;
}

.sm-icon:hover {
  opacity: 0.8;
}

.main {
  padding: 94px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-title-wrapper {
}

.main-title {
  font-family: 'Inter', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  margin: 0;
  max-width: 362px;
}

.main-title_accent {
  font-family: 'Inter', Verdana, sans-serif;
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  margin: 0 0 30px 0;
  max-width: 247px;
}

.main-description {
  font-family: 'Montserrat', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  max-width: 275px;
}

.gifts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 16px;
}

.gifts-title {
  font-family: 'Inter', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  max-width: 291px;
  text-align: right;
  margin: 0;
}

.gifts-title_accent {
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.gifts-grid {
  display: grid;
  grid-template-columns: 135px 135px;
  grid-template-rows: 1fr 1fr;
  column-gap: 31px;
  row-gap: 30px;
  margin: 0;
  padding: 40px 0 61px 0;
}

.gifts-grid-item {
  list-style-type: none;
}

.gift-title {
  font-family: 'Inter', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: right;
  margin: 0 0 6px 0;
}

.gift-description {
  font-family: 'Montserrat', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: right;
  margin: 0;
}

.gifts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-decoration: none;
  width: 262px;
  height: 61px;
  background-color: #4077f3;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 124px 0 20px 0;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-nav-about {
}

.footer-nav-title {
  font-family: 'Inter', Verdana, sans-serif;
  color: #656566;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.footer-nav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  max-height: 160px;
}

.footer-nav-link {
  font-family: 'Inter', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.4s linear;
}

.footer-nav-link:hover {
  opacity: 0.8;
}

.footer-nav-menu {
}

.footer-nav-contacts {
  text-align: end;
}

.footer-adress {
  font-family: 'Inter', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.footer-copyright-wrapper {
  align-self: flex-end;
  text-align: end;
}

.footer-copyright {
  font-family: 'Montserrat', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  margin: 0 0 5px 0;
}

.footer-policy-link {
  font-family: 'Montserrat', Verdana, sans-serif;
  color: #e4e5ea;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  transition: opacity 0.4s linear;
}

.footer-policy-link:hover {
  opacity: 0.8;
}
